// titles
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  & + p {
    margin-top: 1em;
  }
}

.h1-title {
  font-family: $fontPoiret;
  font-weight: 400;
  font-size: 68px;
  line-height: 1.05;
  text-transform: uppercase;
}

.h2-title {
  font-family: $fontPoiret;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.5;
  text-transform: uppercase;
}

.h3-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.3;
}

.h4-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
}

.h5-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
}

.h6-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
}

// +r($lg)
//   .h1-title
//     font-size: 44px

//   // responsive
//   .h3-title-lg
//     font-size: 36px

// +r($sm)
//   .h1-title
//     font-size: 36px

//   // responsive
//   .h3-title-sm
//     font-size: 36px

// paragraphs
.p-main {
  font-size: 24px;
  line-height: 1.16;
  a {
    color: $colorPrimary;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimaryHover;
    }
  }
}

.p-regular {
  font-size: 18px;
  line-height: 1.3;
  a {
    color: $colorPrimary;
    transition: color 0.25s $ease;
    &:hover {
      color: $colorPrimaryHover;
    }
  }
}

.p-body {
  font-size: 14px;
  line-height: 1.35;
}

.p-label {
  font-size: 14px;
  line-height: 1.14;
  color: $colorLight;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.ul-list,
.ol-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    position: relative;
    display: block;
    margin-bottom: 14px;
    padding-left: 14px;
    font-size: 14px;
    line-height: 16px;
    &::before {
      display: inline-block;
      content: ' ';
      position: absolute;
      top: 6px;
      left: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ul-list {
  li {
    &::before {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: $colorPrimary;
    }
  }
}

.ol-list {
  li {
    counter-increment: 1;
  }
}

.f-400 {
  font-weight: normal;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

.f-900 {
  font-weight: 900;
}

// align utils
.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

@include r($lg) {
  .h1-title {
    font-size: 50px;
  }

  .h2-title {
    font-size: 34px;
  }

  .h3-title {
    font-size: 24px;
  }

  .p-main {
    font-size: 22px;
  }
}

@include r($md) {
  .h1-title {
    font-size: 36px;
  }

  .h2-title {
    font-size: 26px;
  }

  .h3-title {
    font-size: 24px;
  }

  .p-main {
    font-size: 20px;
  }

  .p-regular {
    font-size: 16px;
  }

  // .p-body {
  //   font-size: 14px;
  // }

  // .p-label {
  //   font-size: 14px;
  // }
}
